body
{
   text-align: center;
   background: url("images/diya.jpg")no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}

#days
{    
    
    font-size: 80px;
    color:#DAA520;/*#B22222;*/
}
#hour, #min, #sec
{
    font-size: 30px;
    color:#DAA520;
}

#text
{
    font-size:20px;
    color:cornsilk;
   
}
.info, a
{
    font-size: 50px;
    color:#2E8B57;
}
