body
{
   text-align: center;
   background: url("d.jpg")no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
    
  
   
}
.nOfDays {    
    
    font-size: 10em;
    color:#DAA520;/*#B22222;*/
}

.info
{
    font-size: 5em;
    color:#2E8B57;
}

